/* Reset some default styling */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the header */
header {
    background-color: white;
    color: #fff;
    padding: 10px 0;
}

nav {
    background-color: white;
    display: flex; /* Use flex layout */
    justify-content: space-between; /* Distribute items to the left and right */
    align-items: center; /* Vertically align items */
    padding: 5px 20px;
}

/* Center the navigation and style the links */
nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.button-header {
    display: inline-block;
    padding: 5px 10px;
    background-color: #FFAFDF;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.chilanka-font {
    font-family: 'Chilanka', cursive;
}

.chilanka-font.justified {
    font-family: 'Chilanka', cursive;
    text-align: justify;
}

.chilanka-font.pad {
    font-family: 'Chilanka', cursive;
    text-align: justify;
    padding-left: 5%;
}

#centre{
    font-family: 'Chilanka', cursive;
    text-align: center;
    padding: 2.5% 25% 0 25%;
    color: #863967;
}

#encaser {
    background-image: url("../images/branding/background.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100px;
}


.delius-font{
    font-family: 'Delius Unicase', cursive;
    color: #CB4E99;
    text-align: center;
    padding-bottom: 5%;
}




#logo {
    width: 150px;
}

.gradient-background {
    background: linear-gradient(180deg, #FFE1F3, #FFFFFF, #A0E0E5  );
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 289px;
    padding: 40px;
}


