{% extends "base.html"%}
{% block header %}
<section id="pastry-shop">
<img src="{{ url_for('static',filename='images/products/big-donut.png') }}" alt="big-donut"  id="big-donut"/>
<p>PASTRY SHOP</p>
</section>
<section id="pastry-products">
<div class="grid">
    <div>
        <a href="{{ url_for('product_detail', product_id=products[0].id) }}" >
        <img src="{{ url_for('static',filename=products[0].image_location)}}" alt="berrylicious"/>
            <p id="product-name">{{ products[0].name }}</p>
           <p id="product-cost">${{ products[0].cost }} USD</p>
        </a>
    </div>
    <div>
        <a href="{{ url_for('product_detail', product_id=products[1].id) }}" >
        <img src="{{ url_for('static',filename=products[1].image_location)}}" alt="vanilla-skies"/>
         <p id="product-name">{{ products[1].name }}</p>
           <p id="product-cost">${{ products[1].cost }} USD</p>
        </a>
    </div>
    <div>
        <a href="{{ url_for('product_detail', product_id=products[2].id) }}" >
        <img src="{{ url_for('static',filename='images/products/cocoberry-blis.png')}}" alt="cocoberry"/>
    <p id="product-name">{{ products[2].name }}</p>
           <p id="product-cost">${{ products[2].cost }} USD</p>
        </a>
    </div>
</div>

<!-- Second Grid -->
<div class="grid">
    <div>
        <a href="{{ url_for('product_detail', product_id=products[3].id) }}" >
        <img src="{{ url_for('static',filename='images/products/bb-blast.png')}}" alt="bb-blast"/>
         <p id="product-name">{{ products[3].name }}</p>
           <p id="product-cost">${{ products[3].cost }} USD</p>
        </a>
    </div>
    <div>
        <a href="#">
           <img src="{{ url_for('static',filename='images/products/coming-soon.png')}}" alt="coming-soon"/>
             <p id="product-name">{{ products[4].name }}</p>
        </a>

    </div>
    <div>
        <a href="#">
            <img src="{{ url_for('static',filename='images/products/coming-soon.png')}}" alt="coming-soon"/>
             <p id="product-name">{{ products[5].name }}</p>
        </a>
</div>

</div>

</section>
{% endblock %}
